@charset "utf-8";
/* CSS Document */
body {
		margin:0px;
		padding:0px;
		background: #eeeeee;
	}
a {
	text-decoration:none;
}
	.header {
		height:100vh;
		background-image:url(http://mwhorgan.github.io/_img/badlands.jpg);
		size: cover;
		position: center;
		margin-bottom: 50px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-size:3.5em;
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
		color:gold;
		text-shadow:0px 0px 15px black;
	}
	p {
		width: 800px;
		margin: 10px auto 20px;
	}
